html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family: \"Open Sans\", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #868e96;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  color: #000;
}

input{
  margin-bottom: 20px;
}

.btn {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.shop-btn {
  background:  #e9362f;
  color: #ffffff;
}

.btn.shop-btn:hover, .btn.shop-btn:active, .btn.shop-btn:focus {
  color: #ffffff;
  font-weight: 600;
}

.btn:hover {
  text-decoration: none;
}

.item-img{
  display: inline-block;
  shape-image-threshold: initial;
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.item-row{
  padding-top: 5px;
  padding-bottom: 5px;
  /* box-shadow: 0 0 2px 2px #edeff2; */
}

.rounded-div-corners{
  border-radius: 30px 5px 5px 30px; 
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0px 0;
}

@media (min-width: 768px) {
  header {
    padding: 30px 0;
  }
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
}

header .navbar-brand span {
  color: #cf1d16;
}

@media (min-width: 768px) {
  header .navbar-brand span {
    color: #ced4da;
  }
}

header .navbar {
  background: black !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@media (min-width: 768px) {
  header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: none !important;
    position: relative;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  outline: none !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white !important;
}

@media (max-width: 1199px) {
  header .navbar .nav-link {
    padding: .5rem 0rem;
  }
}

header .navbar .nav-link.active {
  color: #fff;
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: \" \";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 7px;
}

@media (max-width: 991px) {
  header .navbar .dropdown-menu:before {
    display: none;
  }
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #cf1d16;
  color: #fff;
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #cf1d16;
  color: #fff;
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

header .navbar .cta-btn a {
  background: #cf1d16;
  color: #fff !important;
  text-transform: uppercase;
  padding: 15px 20px !important;
  line-height: 1;
  font-weight: bold;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

header .navbar .cta-btn a:hover {
  background: #fff;
  color: #cf1d16 !important;
  -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}

.sched, .blog {
  display: block;
  background: rgba(255, 255, 255, 0.6);
}

.sched .text, .sched .bg-image, .blog .text, .blog .bg-image {
  width: 100%;
}

@media (min-width: 992px) {
  .sched .text, .sched .bg-image, .blog .text, .blog .bg-image {
    width: 50%;
  }
}

.sched h3, .blog h3 {
  font-size: 20px;
}

.sched .text, .blog .text {
  padding: 30px;
}

.sched .sched-time, .blog .sched-time {
  font-size: 13px;
  color: #999999;
}

.sched .bg-image, .blog .bg-image {
  background-size: cover;
  background-position: center center;
}

@media (max-width: 991px) {
  .sched .bg-image, .blog .bg-image {
    height: 200px;
  }
}

/* Owl Carousel */

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: \"\";
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: white;
}

.section {
  padding: 7em 0;
}

.description {
  font-weight: 500;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* 
#list_item{
  opacity: 0.4;
} */

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
