<!-- <html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Welcome. This is register page.</h1>
    </body>
</html> -->

{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    <p> {{ form.id }} </p> 
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
